<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="5">
  
  <parameter name="URL1" value="suitlvlurl.com"></parameter>  
  
  <test thread-count="5" name="Test">
	<parameter name="URL" value="Testlvlurl.com"></parameter>
	  <classes> 
		  <class name="part1.basics"></class>
		  <class name="part1.basic2"></class>
	   </classes>  
  </test>
  
  <test name="info">
	  <parameter name="URL" value="infotest.com"></parameter>
	  <classes>
		  <class name="part1.basics3">
			  <methods>
				  <exclude name="work"></exclude>
			  </methods>
		  </class>
	  </classes>
  </test>
</suite> 
